@model Models.RegisterProfileModel

@{
    ViewBag.Title = "Rúbrica";
    Layout = "~/Layouts/DashboardLayout.cshtml";
}

<link href="~/Content/css/site/grid.css" rel="stylesheet" />
<link href="~/Content/css/site/grids/register-profile-grid.css" rel="stylesheet" />

<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Rúbrica
                </h1>
            </div>
        </div>
        
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <!-- Error -->
            <div class="row">
                <div class="col-lg-6 error-message">
                   @ViewBag.ErrorMessage
                </div>
            </div>
        }

        <!-- Form -->
        <div class="col-lg-8">
            @using (Html.BeginForm("Save", "RegisterProfile", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.Id)

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre:</label>
                        @Html.TextBoxFor(m => m.Name, new { required = "required", placeholder = "Nombre", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Trimestre:</label>
                        @Html.DropDownListFor(m => m.TrimesterId, Model.Trimesters, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Año Escolar:</label>
                        @Html.DropDownListFor(m => m.SchoolYearId, Model.SchoolYears, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Asignatura:</label>
                        @Html.DropDownListFor(m => m.SubjectId, Model.Subjects, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Número de Lecciones:</label>
                        @Html.TextBoxFor(m => m.NumberOfLessons, new { required = "required", placeholder = "Número de Lecciones", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Porcentaje de Trabajo Cotidiano:</label>
                        @Html.TextBoxFor(m => m.DailyWorkPercentage, new { required = "required", @class = "form-control", @type = "number", min = "1", max = "25" })
                    </div>
                    <div class="form-group">
                        <label>Porcentaje de Concepto:</label>
                        @Html.TextBoxFor(m => m.ConceptPercentage, new { required = "required", @class = "form-control", @type = "number", min = "1", max = "25" })
                    </div>
                    <div class="form-group">
                        <label>Porcentaje de Asistencia:</label>
                        @Html.TextBoxFor(m => m.AssistancePercentage, new { required = "required", @class = "form-control", @type = "number", min = "1", max = "25" })
                    </div>
                </div>

                <div id="exams-container">
                    @{Html.RenderAction("LoadExams");}
                </div>

                <div id="extraclasses-container">
                    @{Html.RenderAction("LoadExtraclasses");}
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary btn-block btn-large btn-submit">Guardar</button>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Content/js/site/register-profile-exam.js"></script>
<script src="~/Content/js/site/register-profile-extraclass.js"></script>
